* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
}
.wrapper header {
  display: flex;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.wrapper header img:first-of-type {
  margin: 4px 0 0 8px;
}
.wrapper header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
  margin: 11px 0 0 24px;
  white-space: nowrap;
}
.wrapper header img:last-of-type {
  margin: 0 0 0 1070px;
}
.wrapper main {
  display: flex;
  margin-top: 50px;
}
.wrapper main .menu {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
}
.wrapper main .menu .tools {
  height: 220px;
  width: 228px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.wrapper main .menu .tools li {
  display: flex;
  align-items: center;
  height: 55px;
}
.wrapper main .menu .tools li img {
  margin: 0 20px 0 18px;
}
.wrapper main .menu .tools li:hover {
  background-color: #dadada;
  cursor: pointer;
}
.wrapper main .menu .tools li:nth-of-type(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.wrapper main .menu .change-color {
  margin-top: 72px;
  height: 220px;
  width: 228px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}
.wrapper main .menu .change-color li {
  display: flex;
  align-items: center;
  height: 55px;
}
.wrapper main .menu .change-color li img {
  margin: 0 20px 0 18px;
}
.wrapper main .menu .change-color li:hover {
  background-color: #dadada;
  cursor: pointer;
}
.wrapper main .menu .change-color li:nth-of-type(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.wrapper main #canvas {
  margin: 0 160px;
}
.wrapper main .switch {
  height: 140px;
  width: 228px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
.wrapper main .switch .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 15px 0 0 18px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper main .switch .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.wrapper main .switch .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.wrapper main .switch .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.wrapper main .switch .container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.wrapper main .switch .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.wrapper main .switch .container input:checked ~ .checkmark:after {
  display: block;
}
.wrapper main .switch .container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*# sourceMappingURL=style.css.map */
